
.background {
	display: flex;
	flex-direction: column;
}


.background img{
	justify-content: center;
	border-radius: 15px;
	width: 100%;
	height: auto;
}

.allPostText{
	color: grey;
	margin-top: 30px;
	margin-bottom: 3px;
}

