
.backgroundFlex {
	display: flex;
	flex-direction: column;
	width: 100%; /* Ширина области */
	height: 350px; /* Высота области */
	margin: 0; /* Обнуляем отступы */
	padding-top: 15px;
}


.backgroundFlex img{

	border-radius: 15px;
	width: 100%; /* Ширина изображений */
	height: 100%; /* Высота изображении */
	object-fit: cover; /* Вписываем фотографию в область */
}

.allPostText{
	color: grey;
	margin-top: 30px;
	margin-bottom: 3px;
}

