
.App {
	margin: 0;
	
	display: grid;
	grid-template-columns: 18% 82%;
	grid-template-rows: 7% 86% 7%;

	grid-gap: 10px;

	grid-template-areas: 
	"h h"
	"n c"
	"f f";

	width: 1200px;
	margin: 0 auto;
}

