
.item{
	border-radius: 10px;
	background-color: beige;
	grid-area: iM;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
	cursor: pointer;
	padding: 3% 0;
}

.item:hover{
	background-color: blanchedalmond;
}

.text{
	padding: 3% 0 3% 3%;
	color: rgb(80, 77, 77);
	text-decoration: none;
}

.link__user__messages{
	text-decoration: none;
}