
.header {
	display: flex;
	flex-direction: row;
	margin: 0;
	grid-area: h;
	background-color: beige;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 100%;
}

.logo{
	width: 65px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 37px;
	height: auto;
	cursor: pointer;
}

.logo__name{
	font-size: 28px;
	color: rgb(226, 218, 0);
	margin: 0px 20px;
	font-weight: 600;
	padding-top: 10px;
}








