
.container{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}


.logo{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.post{
	color: rgb(70, 69, 69);
	font-size: 20px;
	padding: 10px 0 0 8px;
}

.likes{
	display: flex;
	flex-direction: row;
	width: 30px;
	height: 30px;
	margin-left: 30px;
	padding: 10px 0 0 0;
}

.likes img{
	width: 30px;
	height: auto;
	cursor: pointer;
}

.likes span {
	font-size: 10px;
	font-weight: 500;
	margin-left: -4px;
}