
.app-wrapper {
	margin: 0 auto;
	
	display: grid;
	grid-template-columns: 200px, 995px;
	grid-template-rows: 60px auto 80px;
	grid-gap: 5px;

	grid-template-areas:
	"h h"
	"n c"
	"f f";

	width: 1200px;
}

.app-wrapper-content{
	grid-area: c;
}